<a
  class="text-3xl font-serif font-semibold mb-2"
  [href]="story.url"
  target="_blank"
  rel="noopener noreferrer"
>
  {{ story.title }}
</a>
<div class="flex gap-2 items-center mb-4">
  <p class="text-orange-600 font-medium uppercase">
    {{ story.section }}
  </p>
  <div class="h-4 w-[1px] bg-gray-300"></div>
  <p class="text-gray-500">{{ story.byline }}</p>
</div>
<a [href]="story.url" target="_blank" rel="noopener noreferrer">
  <img
    [src]="story.multimedia[1].url"
    [alt]="story.multimedia[1].caption"
    priority
    class="rounded-xl w-[756px] h-[504px]"
  />
</a>
