<div
  class="flex flex-col-reverse sm:flex-row gap-2 lg:gap-4 items-start w-full"
>
  <div class="flex flex-col gap-1 lg:gap-5">
    <a
      [href]="story.url"
      target="_blank"
      rel="noopener noreferrer"
      class="text-base md:text-lg font-semibold font-serif"
      >{{ story.title }}</a
    >
    <p class="text-gray-600 abstract text-xs md:text-base">
      {{ story.abstract }}
    </p>
    <div class="flex gap-2 items-center text-xs md:text-sm">
      <p class="text-orange-600 font-medium uppercase">
        {{ story.section }}
      </p>
      <div class="h-4 w-[1px] bg-gray-300"></div>
      <p class="text-gray-500 truncate w-[100px] lg:w-[200px]">
        {{ story.byline }}
      </p>
    </div>
  </div>
  <a
    [href]="story.url"
    target="_blank"
    rel="noopener noreferrer"
    class="w-full xs:w-[354px] xs:h-[236px] sm:w-[300px] sm:h-[200px] relative aspect-[3/2]"
  >
    <img
      [ngSrc]="story.multimedia[1].url"
      [alt]="story.multimedia[1].caption"
      fill
      priority
      class="rounded-xl"
    />
  </a>
</div>
