<div class="flex gap-6 items-start">
  <div class="flex flex-col gap-5">
    <a
      [href]="story.url"
      target="_blank"
      rel="noopener noreferrer"
      class="text-lg font-semibold font-serif"
      >{{ story.title }}</a
    >
    <p class="text-gray-600 abstract">{{ story.abstract }}</p>
    <div class="flex gap-2 items-center text-sm">
      <p class="text-orange-600 font-medium uppercase">
        {{ story.section }}
      </p>
      <div class="h-4 w-[1px] bg-gray-300"></div>
      <p class="text-gray-500 truncate w-[300px]">{{ story.byline }}</p>
    </div>
  </div>
  <a
    [href]="story.url"
    target="_blank"
    rel="noopener noreferrer"
    class="relative min-w-[300px] h-[200px]"
  >
    <img
      [src]="story.multimedia[1].url"
      [alt]="story.multimedia[1].caption"
      fill
      class="rounded-xl"
    />
  </a>
</div>
