<div class="relative min-h-screen max-w-screen-2xl mx-auto">
  <app-navbar />
  <main class="pt-24">
    <div class="flex gap-5">
      <div class="w-1/2">
        <h1 class="text-3xl font-serif font-semibold mb-2">
          {{ firstStory.title }}
        </h1>
        <div class="flex gap-2 items-center mb-4">
          <p class="text-orange-600 font-medium uppercase">
            {{ firstStory.section }}
          </p>
          <div class="h-4 w-[1px] bg-gray-300"></div>
          <p class="text-gray-500">{{ firstStory.byline }}</p>
        </div>
        <div class="relative w-[756px] h-[504px]">
          <img
            [ngSrc]="firstStory.multimedia[1].url"
            [alt]="firstStory.multimedia[1].caption"
            fill
            priority
            class="rounded-xl"
          />
        </div>
      </div>
      <div class="w-1/2 space-y-3">
        @for (story of topStories; track story.title; let idx = $index) {
        <div class="flex gap-6 items-start">
          <div class="flex flex-col gap-5">
            <h6 class="text-lg font-semibold">{{ story.title }}</h6>
            <p class="text-gray-600">{{ story.abstract }}</p>
            <div class="flex gap-2 items-center text-sm">
              <p class="text-orange-600 font-medium uppercase">
                {{ story.section }}
              </p>
              <div class="h-4 w-[1px] bg-gray-300"></div>
              <p class="text-gray-500 truncate w-[300px]">{{ story.byline }}</p>
            </div>
          </div>
          <div class="relative min-w-[300px] h-[200px]">
            <img
              [ngSrc]="story.multimedia[2].url"
              [alt]="story.multimedia[2].caption"
              fill
              class="rounded-xl"
            />
          </div>
        </div>
        }
      </div>
    </div>
  </main>
</div>

<router-outlet />
